.main-picture {

}

.main-picture > form {
	margin-top: 20px;
}

.booth {
	width: 420px;
	background-color: #ccc;
	border: 10px solid #ddd;
	margin-top: 140px;
	margin-left: 5%;
	position: relative;
}

.booth-capture-button {
	display: block;
	margin: 10px 0;
	padding: 10px 20px;
	background-color: cornflowerblue;
	color: #fff;
	text-align: center;
	text-decoration: none;
}

#canvas {
	display: none;
}

#absol {
	position: absolute;
	width: 50px;
	height: 50px;
	visibility: hidden;
}