
/*index*/

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: sans-serif;
}


.topnav {
	position: relative;
	overflow: hidden;
	background: #F0F0F0;
	border-bottom: 1px solid #FF9966; 
  }
  
.topnav a {
	float: left;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 22px;
  }

#header {
	  font-size: 30px;
  }
  
.topnav a:hover {
	background-color: #FF9966;
	text-decoration: none;
	border-radius: 10px;
  }
  
.topnav a.active {
	background-color: #3498DB;
	border-radius: 8px;
	color: white;
  }
  
.topnav-centered a {
	float: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }
  
.topnav-right {
	float: right;
  }
  
  /* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {
.topnav a, .topnav-right {
	  float: none;
	  display: block;
 }
	
.topnav-centered a {
	position: relative;
	top: 0;
	left: 0;
	transform: none;
}
  }

.row {
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
	padding: 0 4px;
	margin-bottom: 50px;
	margin-left: 50px;
	margin-right: 50px;
}

.column {
    -ms-flex: 25%; 
    flex: 25%;
    max-width: 25%;
	padding: 15px 15px;
}

.column img {
	margin-top: 20px;
	margin-bottom: 20px;
	vertical-align: middle;
	border-radius: 7px;
	box-shadow: 2px 2px 2px 2px black;
	
}

@media screen and (max-width: 1500px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 700px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #F0F0F0;
	border-top: 1px solid #FF9966;
}

footer > p {
	font-style: italic;
	padding: 10px;
}

.main-login {
	width: 100%;
	height: 1040px;
	display: flex;
	justify-content: center;
}

.login-form {
	width: 400px;
	height: 480px;
	border: 2px solid #FF9966;
	padding-top: 20px;  
	margin-top: 300px;
	text-align: center;
	border-radius: 8px;
	background-color: #e0eef7;
}

.login-form > input {
	width: 240px;
	text-align: center;
	border: 2px solid transparent;
	border-radius: 3px; 
	font-size: 16px;
	font-weight: 200;
	padding: 10px 0;
	transition: .5s;
}

.login-form > input[type=submit] {
	border: 2px solid transparent;
	background: #3498DB;
	color: white;
	font-size: 16px;
	line-height: 25px;
	padding: 10px 0;
	border-radius: 3px;
}


.login-form > a:hover {
	background-color: #F0F0F0;
}

.login-form > p {
	font-size: 30px;
	font-weight: 700;
}
#register-form {
	height: 560px;
}

/*edit*/

.edit-log {
	position: absolute;
	right: 120px;
	padding: 8px;
	font-size: 25px;
	text-decoration: none;
}

.form-edit {
	height: 830px;
}

.form-edit > input[type=submit] {
	border: 2px solid transparent;
	background: #3498DB;
	color: white;
	font-size: 16px;
	line-height: 25px;
	padding: 4px 0;
	border-radius: 3px;
}

.form-edit > input[type=button] {
	border: 2px solid transparent;
	background: #3498DB;
	color: white;
	font-size: 16px;
	line-height: 25px;
	padding: 4px 0;
	border-radius: 3px;
}

.main-login > h3 {
	position: absolute;
	top: 200px;
	color: #3498DB;
	font-size: 30px;
}

/*error*/

.error > ul {
	list-style-type: none;
	margin: 0;
	padding: 0 0 25px 0;
	color: red;
}
.error > ul > li {
	padding: 0 0 5px 0;
}

.upload-error {
	position: relative;
	bottom: 50%;
}

.upload-error > ul {
	list-style-type: none;
	margin: 0;
	padding: 0 0 25px 0;
	color: red;
}

.upload-error > ul > li {
	padding: 0 0 5px 0;
}

/*update*/

.update > p {
	color: green;
}

/*reset*/

.reset-form {
	height: 350px;
}

/*add-photo*/

.main-photo {
	width: 100%;
	height: 1137px;
	display: flex;
	justify-content: center;	
}

.action-photo {
	width: 600px;
	height: 480px;
	border: 2px solid #FF9966;
	padding-top: 20px;  
	margin-top: 300px;
	border-radius: 8px;
	background-color: #e0eef7;
	text-align: center;
	padding-top: 180px;
}

.action-photo > form {
	width: 100%;
	height: 100px;
	position: relative;
}

.action-photo > form > input[type=submit] {
	border: 2px solid transparent;
	background: #3498DB;
	color: white;
	font-size: 16px;
	line-height: 25px;
	width: 150px;
	padding: 5px 0;
	border-radius: 3px;
	position: absolute;
	left: 40%;
}

.action-photo > form > input[type=file]{
	position: absolute;
	left: 39%;
}

.action-photo > a {
	position: absolute;
	left: 48%;
}

/*post*/

.main-posts {
	width: 100%;
	height: 1140px;
	display: flex;
	justify-content: center;
}

.post-details {
	border: 1px solid #FF9966;
	border-radius: 8px;
	width: 600px;
	height: 80%;
	margin: 20px;
	padding-top: 5px;
}

.img-like > .img {
	display: block;
	margin-top: 5px;
	margin-left: 2.5%;
	margin-bottom: 20px;
	border-radius: 7px;
	box-shadow: 2px 2px 2px 2px black;
}

.login-name {
	margin: auto;
	font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

#userComment {
	float: left;
	margin-left: 3%;
}

#creation {
	margin-left: 70%;
}

.clear {
	clear: both;
}

.img-like {

	top: 490px;
	margin-left: 20px;
}

.like-quantities {
	display: block;
}

.img-like > button {
	border: none;
	padding: 0;
	display: block;
}

.img-like > button:focus {
	outline: none;
}

.comments-box {
	text-align: center;
	width: 100%;
	height: 30%;
}

.comments-box > textarea::placeholder {
	color: #FF9966;
    opacity: 1; /* Firefox */
}

#comments {
	width: 98%;
	height: 100%;
	overflow: auto;
	margin: 10px;
	text-align: left;
	padding-left: 20px;
}


.delete {
	float: right;
	margin-right: 5%;
}
.delete > input {
	background-color: rgb(255, 0, 0);
	border: none;
	color: white;
	padding: 10px 32px;
	text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer; 
}