
/*index*/

body {
	margin: 0;
	font-family: sans-serif;
}

header {
	position: relative;
	background-color: #F0F0F0;
	width: 100%;
	height: 120px;
	border-bottom: 1px solid #FF9966;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	margin: 0;
	padding: 40px;
	width: 160px;
	color: #FF9966;
	font-size: 40px;
}

a {
	color: black;
}

a:hover {
	background-color: #FF9966;
	text-decoration: none;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #F0F0F0;
	border-top: 1px solid #FF9966;
}

footer > p {
	font-style: italic;
	padding: 10px;
}

.log {
	position: absolute;
	right: 10px;
	padding: 8px;
	font-size: 25px;
	text-decoration: none;
}

.main {
	padding: 20px;
}

.img {
	padding: 10px;
}

/*login, registration*/

.main-login {
	width: 100%;
	height: 1040px;
	display: flex;
	justify-content: center;
}

.login-form {
	width: 400px;
	height: 480px;
	border: 1px solid #FF9966;
	padding-top: 20px;  
	margin-top: 300px;
	text-align: center;
	background-color: #F0F0F0;
}

.login-form > input {
	width: 240px;
	text-align: center;
	border: 2px solid transparent;
	border-radius: 3px; 
	font-size: 16px;
	font-weight: 200;
	padding: 10px 0;
	transition: .5s;
}

.login-form > input[type=submit] {
	border: 2px solid transparent;
	background: #3498DB;
	color: white;
	font-size: 16px;
	line-height: 25px;
	padding: 10px 0;
	border-radius: 3px;
}


.login-form > a:hover {
	background-color: #F0F0F0;
}

.login-form > p {
	font-size: 30px;
	font-weight: 700;
}
#register-form {
	height: 560px;
}

/*user*/

.cabinet {
	position: absolute;
	right: 120px;
	padding: 8px;
	font-size: 25px;
	text-decoration: none;
}

.logout {
	position: absolute;
	right: 20px;
	padding: 8px;
	font-size: 25px;
	text-decoration: none;
}

.add {
	position: absolute;
	left: 20px;
	padding: 8px;
	font-size: 25px;
	text-decoration: none;
}

/*edit*/

.edit-log {
	position: absolute;
	right: 120px;
	padding: 8px;
	font-size: 25px;
	text-decoration: none;
}

.form-edit {
	height: 680px;
}

.form-edit > input[type=submit] {
	border: 2px solid transparent;
	background: #3498DB;
	color: white;
	font-size: 16px;
	line-height: 25px;
	padding: 4px 0;
	border-radius: 3px;
}

.main-login > h3 {
	position: absolute;
	top: 200px;
	color: #3498DB;
	font-size: 30px;
}

/*error*/

.error > ul {
	list-style-type: none;
	margin: 0;
	padding: 0 0 25px 0;
	color: red;
}
.error > ul > li {
	padding: 0 0 5px 0;
}

/*update*/

.update > p {
	color: green;
}









